<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <a class= "text-light text-decoration-none" href="/blog" ><h3>Blog</h3></a>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="{% url 'blog:index' %}">Home</a>
                <a class="text-light text-decoration-none" href="{% url 'blog:about_us' %}">About Us</a>
                <a class="text-light text-decoration-none" href="{% url "blog:contact" %}">Contact</a>
            </div>
        </div>
    </div>
</header>